[submodule "lib/tab-group-el"]
	path = lib/tab-group-el
	url = git://github.com/tarao/tab-group-el.git
[submodule "lib/key-intercept"]
	path = lib/key-intercept
	url = git://github.com/tarao/key-intercept-el.git
[submodule "lib/multi-mode-util"]
	path = lib/multi-mode-util
	url = git://github.com/tarao/multi-mode-util.git
[submodule "lib/multi-mode"]
	path = lib/multi-mode
	url = git://github.com/emacsmirror/multi-mode.git
[submodule "lib/evil"]
	path = lib/evil
	url = git://gitorious.org/evil/evil.git
[submodule "lib/anything-config"]
	path = lib/anything-config
	url = git://repo.or.cz/anything-config.git
